export const mapConfig = {
        zoom: 7,        
        center: {lat: 42.645234602964514, lng: 25.017259689118312}
}

export const serviceConfig = {
        serviceUrl: "http://osmap.org:8003"
}

export const googleMapConfig = {
        googleMapsApiKey: "AIzaSyD07E1VvpsN_0FvsmKAj4nK9GnLq-9jtj8"
}